project_id = "xihpdcsanfvxgrljkmjo"

[api]
enabled = true
port = 54321

[db]
port = 54322
major_version = 17

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"

[studio]
enabled = true
port = 54323

[auth]
enabled = true
site_url = "https://whitelabel.peptidetech.co"
